.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../img/bg2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.main {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;

    .wifi{
        width: 24%;
        
        @include w1366 {

            width: 15%;
        }
    }

    .logo {
        width: 100%;

        @include w1366 {

            width: 97%;
            margin-left: -3%;
        }

        @include w1024 {

            width: 80%;
            margin-left: -15%;
        }
    }

    &__info {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__title {
            font-family: unineue_heavy;
            line-height: normal;
            font-size: rem(45px);
            color: $grey;
        }

        &__reason {
            margin-top: 2%;
            display: flex;
            align-items: center;

            &__title {
                font-family: unineue_bold;
                line-height: normal;
                font-size: rem(30px);
                color: #F13939;
            }

            &__name {
                margin-left: 1.5%;
                font-family: unineue_thin;
                line-height: normal;
                font-size: rem(30px);
                color: #FFFFFF;
            }
        }
    }

    .tip {
        color: #808080;
        margin-top: 10%;
        padding-top: 2%;
        border-top: rem(1px) solid rgba($color: #ffffff, $alpha: .2);
        width: 80%;
        height: rem(90px);
        font-family: unineue;
        line-height: normal;
        font-size: rem(25px);

        @include w1280 {
            font-size: rem(23px);
        }

        @include w1024 {
            font-size: rem(21px);
        }
    }
}

.radio-man {
    z-index: 20;
    position: absolute;
    bottom: -3%;
    left: 68%;
    width: rem(520px);

    @include w1366 {
        width: rem(450px);
    }

    @include w1024 {
        left: 64%;
        bottom: 0;
    }
}