@font-face {
    font-family: 'unineue';
    src: url('../../fonts/UniNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'unineue_bold';
    src: url('../../fonts/UniNeueBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'unineue_heavy';
    src: url('../../fonts/UniNeueHeavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'unineue_thin';
    src: url('../../fonts/UniNeueThin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'unineue_light';
    src: url('../../fonts/UniNeueLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}